@media (min-width : 320px) and (max-width: 768px) {
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }


    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    line-height: 1;
    font-family: roboto;
    }
    ol, ul {
    list-style: none;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }
    *{
    padding: 0px;
    margin: 0px;
    }

    .indexPage{
    background: #DA010C;

    }

    .logoInit {
    position: absolute;
    width: 350px;
    height: 350px;
    left: calc(50% - 350px/2 - 0.5px);
    top: 135px;
    }

    .btnInit{
    position: absolute;
    width: 310px;
    height: 56px;
    left: 57px;
    top: 550px;
    background: #FFFFFF;
    border-color: #DA010C;
    border-radius: 40px;
    border-bottom: #DA010C;
    border-right: #DA010C;
    color: #DA010C;
    font-weight: 700;
    font-size: larger;
    }

    /* pagina principal de vista de carrito de compras */

    .shoppingCartMain{
    display: flex;
    flex-direction: column;
    }

    .navBar{
    display: flex;
    align-items: center;
    height:56px;
    background-color: #DA010C;
    }

    .dropdownMenu{
    margin-left: 5vw;
    margin-right: 5vw;
    }

    .shoppingCartContent{
        display: flex;
        justify-content: center;
        height: 82vh;
    }

    .shoppingCartNewContent {
        display: flex;
        justify-content: center;
        align-items: start;
        height: 82vh;
    }

    .footer{
    display: flex;
    padding-top: 2vh;
    justify-content: space-between;
    height: 56px;
    background: #FFFFFF;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.05);
    }

    .goToPaymentBtn{
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    height: 33px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 20px;
    background: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #BDBDBD;
    margin-right: 2vw;
    }

    .goToPaymentNewBtn{
        font-family: Roboto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        height: 33px;
        border: 1px solid #DA010C;;
        box-sizing: border-box;
        border-radius: 20px;
        background: #FFFFFF;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        color: #DA010C;;
        margin-right: 2vw;
        }

    .startScannerBtn{
        position: absolute;
        left: 174px;
        top: 630px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #DA010C;
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }

    .emptyCartImg{
        height: 50vh;
        margin-top: 50px;
    }

    .startScanningPopUp{
        position: absolute;
        left: 55px;
        top: 558px;
    }

    .cartTotal{
    margin-left: 4vw;
    }

    .footerSKUS{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #333333;
    }

    .footerTotal{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    color: #333333;
    }

/* .productosEscaneados{} */

    }






